src/StepFunction/stock-definition.json
{
    "StartAt": "Check Stock Price",
    "States": {
        "Check Stock Price": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:483784330520:function:StepFunctionsSample-HelloLam-CheckStockPriceLambda-3vL98jH5rI1y",
            "Next": "Generate Buy/Sell recommendation"
        },
        "Generate Buy/Sell recommendation": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:483784330520:function:StepFunctionsSample-Hello-GenerateBuySellRecommend-5KkTho7bHkSs",
            "ResultPath": "$.recommended_type",
            "Next": "Request Human Approval"
        },
        "Request Human Approval": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
            "Parameters": {
                "QueueUrl": "https://sqs.us-east-2.amazonaws.com/483784330520/StepFunctionsSample-HelloLambdaf2801437-25-RequestHumanApprovalSqs-6TAK3TC2PGIK",
                "MessageBody": {
                    "Input.$": "$",
                    "TaskToken.$": "$$.Task.Token"
                }
            },
            "ResultPath": null,
            "Next": "Wait five Seconds"
        },
        "Wait five Seconds": {
          "Type": "Wait",
          "Seconds": 5,
          "Next": "Buy or Sell?"
        },
        "Buy or Sell?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "buy",
                    "Next": "Buy Stock"
                },
                {
                    "Variable": "$.recommended_type",
                    "StringEquals": "sell",
                    "Next": "Sell Stock"
                }
            ]
        },
        "Buy Stock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:483784330520:function:StepFunctionsSample-HelloLambdaf280-BuyStockLambda-JBldgBzt9V4i",
            "Next": "Report Result"
        },
        "Sell Stock": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-2:483784330520:function:StepFunctionsSample-HelloLambdaf28-SellStockLambda-DqTnwK0xCkcC",
            "Next": "Report Result"
        },
        "Report Result": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "arn:aws:sns:us-east-2:483784330520:StepFunctionsSample-HelloLambdaf2801437-2518-4f52-b8e2-0566103f5458-ReportResultSnsTopic-19CMWQ3MHSLU8",
                "Message": {
                    "Input.$": "$"
                }
            },
            "End": true
        }
    }
}
